@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

.gradient {
  background: linear-gradient(to right, #1145be, #00c6ff);
}

.main-text {
  background: linear-gradient(to right, #1145be, #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}